# Secretos y Configuración Local
.env
backend/.env
data/
letsencrypt/
__pycache__/

# Docker Logs y Temporales
*.log
.DS_Store
node_modules/
html/styles.css

# Imagenes
*.png
*.jpg
*.jpeg
*.gif
*.webp

# Archivos de Configuración de IDEs
.vscode/
.idea/

