# El usuario de GitHub del portafolio
GITHUB_USER =  

# El token personal de GitHub, necesario para evitar limitaciones de la API. Puedes generar uno en https://github.com/settings/tokens y selecciona el scope "public_repo" como mínimo.
GITHUB_TOKEN = 

# Tu clave de API de OpenWeatherMap para mostrar el clima (Obtenerla gratis en https://openweathermap.org/api)
WEATHER_KEY = 

# Tu ID de Discord para mostrar tu estado en tiempo real usando Lanyard (Puedes obtenerlo haciendo clic derecho en tu avatar de Discord -> Copiar ID, necesitas activar el modo desarrollador en Discord para verlo)
DISCORD_ID = 

# Tu ID de Formspree para el formulario de contacto (Obtenerlo gratis en https://formspree.io/)
FORMSPREE_ID = 

# La ciudad para mostrar el clima 
CITY = 

# Tu numero de whatsapp para el formulario de contacto (Incluye el código de país pero no el +, por ejemplo, 56912345678 para Chile)
WHATSAPP_NUMBER =

# El mensaje que quieres que se envíe cuando alguien te contacte a través del formulario (puedes usar {name} para incluir el nombre de la persona y {message} para incluir su mensaje)
WHATSAPP_TEXT = ""

#Para usar este archivo, haz una copia y nómbrala ".env", luego completa los valores con tu información. No compartas tu .env con nadie, especialmente si contiene claves privadas.
# (No es necesario que completes todos los campos, pero sin el GITHUB_USER no se mostrarán tus repositorios y sin el WEATHER_KEY no se mostrará el clima)
# (Opcional) Si no quieres mostrar tu estado de Discord, puedes dejar DISCORD_ID vacío, pero asegúrate de que la variable exista para evitar errores en el frontend 
